<a href="https://colab.research.google.com/github/EricCallaway/COSC_6314_Assignment_6_KNN/blob/main/COSC_6314_KNN_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=False)

Mounted at /content/drive

Reading in the training data

In [4]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Data Mining/data/diabetes.csv'
df = pd.read_csv(file_path)

In [5]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Confirming the shape of the training data. The data is 768 rows by 9 columns.

In [6]:
df.shape

(768, 9)

Dropping the target colunmn to create a training dataset.

In [7]:
x = df.drop(columns=['Outcome'])
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [8]:
y = df['Outcome'].values
print(y[0:10])
print(type(y))

[1 0 1 0 1 0 1 0 1 1]
<class 'numpy.ndarray'>

Creating Training and Testing sets

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1, stratify=y)

Building and Training the Model

In [10]:
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

Testing the Model

In [11]:
#show first 10 model predictions on the test data
knn.predict(x_test)[0:10]

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0])

In [12]:
#check accuracy of our model on the test data
knn.score(x_test, y_test)

0.6688311688311688

In [13]:
y_pred = knn.predict(x_test)

In [14]:
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1])

In [19]:
cr = classification_report(y_true=y_test, y_pred=y_pred, target_names=['No Diabetes', 'Diabetes'])
print(cr)

              precision    recall  f1-score   support

 No Diabetes       0.74      0.75      0.75       100
    Diabetes       0.53      0.52      0.52        54

    accuracy                           0.67       154
   macro avg       0.64      0.63      0.63       154
weighted avg       0.67      0.67      0.67       154

In [21]:
print(f1_score(y_pred, y_test))

0.5233644859813084